<a href="https://colab.research.google.com/github/Perla-Soleith/Probabilidad/blob/main/Unidad1/Practica%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#***Probabilidad y estadística***
#**Unidad 1**

#Práctica 3: Tabla de frecuencias

### Facilitador: Jose Gabriel Rodiguez Rivas

### Alumno: Perla Soleith Moreno Pérez ☀

In [1]:
#creamos una lista vacía que representa la edad de 100 personas

import random
edades =[]
#Hacemos un ciclo para generar 100 numeros aleatorios que representan la edad de las personas
for i in range (100):
  #generamos un numero aleatorio con la funcion randint y lo guardamos en la variable
  #nuemore_aleatorio
  numero_aleatorio = random.randint (18, 70)

  #agregamos el numero aleatorio a la lista de valores
  edades.append (numero_aleatorio)

print (edades)

[26, 25, 45, 26, 70, 21, 33, 36, 46, 36, 24, 65, 26, 51, 38, 50, 51, 24, 24, 20, 22, 45, 56, 67, 62, 30, 30, 70, 69, 54, 68, 31, 67, 41, 21, 44, 58, 67, 33, 23, 30, 23, 63, 45, 60, 59, 59, 25, 41, 38, 27, 63, 63, 22, 56, 64, 27, 66, 46, 32, 46, 63, 50, 48, 47, 33, 28, 28, 24, 42, 65, 63, 57, 55, 70, 42, 35, 45, 58, 18, 55, 47, 59, 62, 33, 70, 56, 38, 57, 65, 46, 70, 31, 41, 48, 36, 49, 42, 51, 19]

In [2]:
import pandas as pd

In [6]:
#crear un DataFrame de pandas con los numeros aleatorios
df = pd.DataFrame (edades, columns = ['Edad'])
df.head() #comando que muestra las primeras 5 lineas del archivo

   Edad
0    26
1    25
2    45
3    26
4    70

In [7]:
#calcular latabla de distribución de frecuencias

tabla_frecuencias = df['Edad'].value_counts().reset_index()
tabla_frecuencias.columns = ['Edad', 'Frecuencia']
tabla_frecuencias = tabla_frecuencias.sort_values (by = 'Edad')

#imprimir la tabla de distribución de frecuencias
print ("Tabla de Distribución de Frecuencias: ")
tabla_frecuencias

Tabla de Distribución de Frecuencias:

    Edad  Frecuencia
41    18           1
43    19           1
32    20           1
18    21           2
19    22           2
20    23           2
4     24           4
17    25           2
7     26           3
24    27           2
28    28           2
14    30           3
21    31           2
37    32           1
5     33           4
40    35           1
11    36           3
8     38           3
12    41           3
16    42           3
31    44           1
3     45           4
2     46           4
30    47           2
25    48           2
42    49           1
27    50           2
6     51           3
33    54           1
23    55           2
10    56           3
29    57           2
22    58           2
13    59           3
38    60           1
26    62           2
1     63           5
39    64           1
9     65           3
36    66           1
15    67           3
34    68           1
35    69           1
0     70           5

In [8]:
tabla_frecuencias['Frec Relativa'] = tabla_frecuencias ['Frecuencia'] / 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa
41    18           1           0.01
43    19           1           0.01
32    20           1           0.01
18    21           2           0.02
19    22           2           0.02
20    23           2           0.02
4     24           4           0.04
17    25           2           0.02
7     26           3           0.03
24    27           2           0.02
28    28           2           0.02
14    30           3           0.03
21    31           2           0.02
37    32           1           0.01
5     33           4           0.04
40    35           1           0.01
11    36           3           0.03
8     38           3           0.03
12    41           3           0.03
16    42           3           0.03
31    44           1           0.01
3     45           4           0.04
2     46           4           0.04
30    47           2           0.02
25    48           2           0.02
42    49           1           0.01
27    50           2           0.02
6     51           3           0.03
33    54           1           0.01
23    55           2           0.02
10    56           3           0.03
29    57           2           0.02
22    58           2           0.02
13    59           3           0.03
38    60           1           0.01
26    62           2           0.02
1     63           5           0.05
39    64           1           0.01
9     65           3           0.03
36    66           1           0.01
15    67           3           0.03
34    68           1           0.01
35    69           1           0.01
0     70           5           0.05

In [11]:
tabla_frecuencias ['Frec porcentual'] = tabla_frecuencias ['Frecuencia'] / 100 * 100
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec porcentual
41    18           1           0.01              1.0
43    19           1           0.01              1.0
32    20           1           0.01              1.0
18    21           2           0.02              2.0
19    22           2           0.02              2.0
20    23           2           0.02              2.0
4     24           4           0.04              4.0
17    25           2           0.02              2.0
7     26           3           0.03              3.0
24    27           2           0.02              2.0
28    28           2           0.02              2.0
14    30           3           0.03              3.0
21    31           2           0.02              2.0
37    32           1           0.01              1.0
5     33           4           0.04              4.0
40    35           1           0.01              1.0
11    36           3           0.03              3.0
8     38           3           0.03              3.0
12    41           3           0.03              3.0
16    42           3           0.03              3.0
31    44           1           0.01              1.0
3     45           4           0.04              4.0
2     46           4           0.04              4.0
30    47           2           0.02              2.0
25    48           2           0.02              2.0
42    49           1           0.01              1.0
27    50           2           0.02              2.0
6     51           3           0.03              3.0
33    54           1           0.01              1.0
23    55           2           0.02              2.0
10    56           3           0.03              3.0
29    57           2           0.02              2.0
22    58           2           0.02              2.0
13    59           3           0.03              3.0
38    60           1           0.01              1.0
26    62           2           0.02              2.0
1     63           5           0.05              5.0
39    64           1           0.01              1.0
9     65           3           0.03              3.0
36    66           1           0.01              1.0
15    67           3           0.03              3.0
34    68           1           0.01              1.0
35    69           1           0.01              1.0
0     70           5           0.05              5.0

In [12]:
tabla_frecuencias ['Frec Acumulada'] = tabla_frecuencias ['Frecuencia'].cumsum()
tabla_frecuencias

    Edad  Frecuencia  Frec Relativa  Frec porcentual  Frec Acumulada
41    18           1           0.01              1.0               1
43    19           1           0.01              1.0               2
32    20           1           0.01              1.0               3
18    21           2           0.02              2.0               5
19    22           2           0.02              2.0               7
20    23           2           0.02              2.0               9
4     24           4           0.04              4.0              13
17    25           2           0.02              2.0              15
7     26           3           0.03              3.0              18
24    27           2           0.02              2.0              20
28    28           2           0.02              2.0              22
14    30           3           0.03              3.0              25
21    31           2           0.02              2.0              27
37    32           1           0.01              1.0              28
5     33           4           0.04              4.0              32
40    35           1           0.01              1.0              33
11    36           3           0.03              3.0              36
8     38           3           0.03              3.0              39
12    41           3           0.03              3.0              42
16    42           3           0.03              3.0              45
31    44           1           0.01              1.0              46
3     45           4           0.04              4.0              50
2     46           4           0.04              4.0              54
30    47           2           0.02              2.0              56
25    48           2           0.02              2.0              58
42    49           1           0.01              1.0              59
27    50           2           0.02              2.0              61
6     51           3           0.03              3.0              64
33    54           1           0.01              1.0              65
23    55           2           0.02              2.0              67
10    56           3           0.03              3.0              70
29    57           2           0.02              2.0              72
22    58           2           0.02              2.0              74
13    59           3           0.03              3.0              77
38    60           1           0.01              1.0              78
26    62           2           0.02              2.0              80
1     63           5           0.05              5.0              85
39    64           1           0.01              1.0              86
9     65           3           0.03              3.0              89
36    66           1           0.01              1.0              90
15    67           3           0.03              3.0              93
34    68           1           0.01              1.0              94
35    69           1           0.01              1.0              95
0     70           5           0.05              5.0             100